.Rproj.user
.Rhistory
.RData
_*
_publish.R
_book
_bookdown_files
rsconnect
*.Rproj
.Ruserdata
**/rsconnect/
.DS_Store
**/*.min.map
revdep
data
results
reports
!css
temp
img
pictures
*library
*.bib
!*.yml
*.sh
*.tex
*_files
*.pd
book-output
backup
imapBOOKS
